:root {
	--bg: #fff;
	--fg: #2e3440;
	--link: rgb(94, 129, 172);
    // Syntax highlighting
	--code_fg: #4c566a;
	--code_bg: #eceff4;
    --blue: #81a1c1;
    --lightblue: #609BAC;
    --cyan: #60A09C;
    --yellow: #ebcb8b;
    --magenta: #b48ead;
    --red: #bf616a;
    --green: #83A763;
    --orange: #d08770;
    --gray: #AFB5BE;
}
[data-theme="dark"] {
	--bg: #2e3440;
	--fg: #eceff4;
	--link: #88c0d0;
    // Syntax highlighting
    --lightblue: #88c0d0;
	--code_fg: #d8dee9;
    --cyan: #8fbcbb;
	--code_bg: #282E38;
    --green: #a3be8c;
    --gray: #616e88;
}