:root {
	--bg: #fff;
	--fg: #2e3440;
	--link: #5e81ac;
    // Syntax highlighting
	--code_fg: #4c566a;
	--code_bg: #eceff4;
    --blue: #81a1c1;
    --lightblue: #609BAC;
    --cyan: #60A09C;
    --yellow: #ebcb8b;
    --magenta: #b48ead;
    --red: #bf616a;
    --green: #83A763;
    --orange: #d08770;
    --gray: #AFB5BE;
}
[data-theme="dark"] {
	--bg: #242B33;
	--fg: #eceff4;
    // Syntax highlighting
	--link: #81a1c1;
    --lightblue: #88c0d0;
	--code_fg: #d8dee9;
    --cyan: #8fbcbb;
	--code_bg: #20262D;
    --green: #a3be8c;
    --gray: #616e88;
}