@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('colors.css');
@import url('syntax-theme.css');

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.logo {
	max-height: 30px
}

body {
	color: var(--fg);
	font-family: 'PT Serif', 'Garamond', 'Georgia', serif;
	font-size: 20px;
	word-break: break-word;
	line-height: 1.5em;
	padding: 1em;
	margin: auto;
	max-width: 52em;
	background: var(--bg);
}

a {
	color: var(--link);
	text-decoration: none;
}

#darkmodetoggle:hover {
	text-decoration: none;

}

a:hover,
a:active {
	outline: 0;
	cursor: pointer;
	text-decoration: underline;
}

p {
	margin: 1em 0;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: var(--fg);
	line-height: 1em;
	font-family: 'Avenir Next', 'Avenir', 'jost', 'Helvetica', 'Tahoma', sans-serif;
}

h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
	margin: 0;
}

h2 {
	margin: 2em 0 1em;
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 1em 0 1em;
}

h4 {
	font-size: 0.9em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.9em;
}

blockquote {
	color: var(--fg);
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em var(--dark_grey) solid;
}

pre,
code,
kbd,
samp {
	font-family: 'Fira Code', monospace;
	font-size: 0.98em;
}

pre {
	background-color: unset !important;
}
code {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: var(--code_bg);
	color: var(--code_fg);
	padding: 3px;
	border-radius: 5px;
}
pre > code {
	display: block;
	padding: 10px 15px;
}
b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}


sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

li p:last-child {
	margin: 0;
}

dd {
	margin: 0 0 0 2em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

@media only screen and (max-width: 768px) {
	.sitename {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		max-height: 40px;
	}
	div.container {
		margin: 50px 0;
	}
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	body {
		font-size: 12pt;
		max-width: 100%;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	hr {
		height: 1px;
		border: 0;
		border-bottom: 1px solid black;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid var(--dark_grey);
		padding-right: 1em;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}

	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}




nav ul.links {
	display: flex;
	flex-direction: row;
}

li.icons {
	padding-left: 9px;
	a {
		display: inline-block;
	}
}
#toggle-nav {
	display: none;
}

@media only screen and (max-width: 800px) {
	li.icons a:nth-child(1) {
		margin-right: 1em;
	}
	#toggle-nav {
		display: inline-block;
	}
	nav {
		align-items: baseline;
	}
	.nav-left {
		position: absolute;
	}
	.nav-right {
		width: 100%;
		flex-direction: column;
		align-items: end;
	}
	#links {
		margin-top: 1em;
		flex-direction: column-reverse;
		border-radius: 5px;
		display: none;
		width: 100%;
		background: var(--code_bg);
		a {
			padding: 1em;
		}
		a:hover, a:active {
			background: var(--gray);
			text-decoration: none;
		}
}
}

nav ul li {
	/* This allow us to arrange list items in a row, without using float */
	display: inline-block;
	list-style-type: none;
}
/* Create a style for the first level items */
nav > div > ul > li > a {
	color: var(--fg) !important;
	display: block;
	line-height: 2em;
	padding: 0.5em 0em;
	text-decoration: none;
}
nav > div {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
nav > div.nav-right > ul > li > a {
	padding: 0.5em 0.5em;
}

nav > div > ul > li > a:hover {
	color: var(--fg) !important;
}
.nav-left {
	float: left;
}

.nav-left ul li {
	float: left;
}

.nav-right ul li, .nav-right ul {
	float: right;
}
.logo {
	margin-right: 0.5em
}
div.container img {
	margin: 1em 0;
}
p.date {
	font-size: 13px;
	color: var(--fg);
}
ul.articles {
	list-style: none;
	padding: 0;
}

ul.articles li {
	padding-bottom: 10px;
}
footer {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

