{% extends "base.html" %}
{% block content %}
<h1 class="title">
</h1>
  <p>Hey there!</p>
  <p>My name is Wolfgang and I make <a target="_blank" href="https://youtube.com/c/WolfgangsChannel">videos</a> about computers, Thinkpads, Linux/Unix and other stuff.</p>
  <p>On this website I usually post guides, tutorials and text versions of my videos but who knows, maybe it’ll turn into a lifestyle guru blog where I tell you all to clean your room, buckos.</p>

  <h2 id="Articles">Articles</h2>
  <ul class="articles">
  {% set section = get_section(path="blog/_index.md") %}
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p class="date">{{ page.date }}</p>
  </li>
  {% endfor %}

{% endblock content %}
