<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}" />
    <link rel="shortcut icon" type="image/png" href="{{ get_url(path="favicon.png") }}"/>
    <script
      src="https://kit.fontawesome.com/93866eaaa9.js"
      crossorigin="anonymous"
    ></script>
  </head>

    <nav class="menu">
      <div class="nav-left">
        <ul>
          <li>
            <a href="/"
              ><img class="logo" src="{{ get_url(path="favicon.png") }}" alt="" /><span
                class="sitename"
                >{{ config.title | lower }}</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <ul>
          <li style="padding: 9px">
            <a
              id="darkmodetoggle"
              class="fas fa-moon"
              onclick="switchTheme()"
            ></a>
          </li>
          <li><a href="mailto:wolfgangschannel@mailbox.org">contact</a></li>
          <li><a href="impressum.html">impressum</a></li>
          <li><a target="_blank" href="https://patreon.com/WolfgangsChannel">patreon</a></li>
          <li><a target="_blank" href="https://github.com/notthebee">github</a></li>
          <li><a target="_blank" href="https://twitter.com/notthebeeee">twitter</a></li>
          <li><a target="_blank" href="https://youtube.com/c/WolfgangsChannel">videos</a></li>
        </ul>
      </div>
    </nav>

  <body>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>



<footer>
	<p>Powered by <a target="_blank" href="https://www.getzola.org/">Zola</a></p>
</footer>
<script

  src="{{ get_url(path="darktheme.js", cachebust=true) }}"
  crossorigin="anonymous"
></script>

  </body>


</html>
