    <nav class="menu">
      <div class="nav-left">
        <ul>
          <li>
            <a href="/"
              ><img class="logo" src="{{ get_url(path="favicon.png") }}" alt="" /><span
                class="sitename"
                >{{ config.title | lower }}</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <ul>
          <li style="padding: 9px">
            <a
              id="darkmodetoggle"
              class="fas fa-moon"
              onclick="switchTheme()"
            ></a>
          </li>
          <li><a href="mailto:wolfgangschannel@mailbox.org">contact</a></li>
          <li><a href="impressum.html">impressum</a></li>
          <li><a href="https://patreon.com/WolfgangsChannel">patreon</a></li>
          <li><a href="https://github.com/notthebee">github</a></li>
          <li><a href="https://twitter.com/notthebeeee">twitter</a></li>
          <li><a href="https://youtube.com/c/WolfgangsChannel">videos</a></li>
        </ul>
      </div>
    </nav>
